*{
    margin: 0;
    padding: 0;
}


html{
    height: 100vh;
    color: aliceblue;
    scroll-behavior: smooth;
}


body{
    display: flex;
    flex-direction: column;
}


.menu{
    width: 100%;
    height: 310px;
    background-color: #2A567E;
}


.menu2{
    width: 100%;
    height: 50px;
    background-color: #33618c;
    display: flex;
    position: fixed;
    padding-top: 10px;
    z-index: 1;
}


.logo{
    display: flex;
    align-items: center;
}


.logo img{
    width: 160px;
    height: 160px;
    background-color: #2A567E;
    margin-top: 90px;
    margin-left: 30px;
}




.logo h1{
    margin-top: 80px;
    color: #f2a81d;
}


.img{
    width: 100%;
    height: 100%;
}


.div{
    width: 100%;
    height: 60px;
    background-color: #33618c;
    padding-top: 10px;
}


button{
    width: 130px;
    height: 30px;
}


.botao{
    background-color: #f2a81d;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    align-items: center;
}

.botao a{
    color: #fff;
    text-decoration: none;
}

.botao:hover{
    background-color: #2A567E;
    text-decoration: none;
    border-bottom: none;
}


.menu button {
    float: right;
    margin-right: 20px;
}


.destaques{
    width: 50%;
    height: 35px;
    background-color: #33618c;
    color: #f2a81d;
    text-align: center;
    transition: 0.3 ease;
    padding-top: 13px;
}


.destaques:hover{
    background-color: #2A567E;
}




.corpo{
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background-color: white;
}


.produtos_destaques{
    display: flex;
    margin-top: 60px;
    color: #f2a81d;
}

.produtos{
    margin-left: 45px;
}

.linha{
    width: 62%;
    margin-top: 20px;
    height: 1px;
    background-color: #2A567E;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria quatro colunas com larguras iguais */
    gap: 30px; /* Espaçamento entre as colunas */
    padding: 20px;
    padding-top: 40px;
    width: 90%;
    height: 80%;
    max-width: 1300px;
    box-sizing: border-box;
    margin-top: 50px;
    margin : auto;
}


.grid-item {
    display: flex;
    flex-direction: column;
    background-color: #2A567E;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    padding: 20px;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item p{
    width: 100%;
    height: 100px;
    background-color: #2A567E;
    color: #f2a81d;
    margin-top: 10px;
    text-align: left;
}

.card-container{
    display: flex;
    margin:auto;
    gap: 20px;
}

.card{
    width: 100%;
    height: 30px;
    background-color: #2A567E;
    color: #f2a81d;
    margin-top: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: 0.3;
}

.card:hover{
    border: 1px solid #f2a81d ;
}


.mais_produtos{
    width: 15%;
    height: 10%;
    background-color: #2A567E;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.3;
    margin-left: 42%;
}

.mais_produtos:hover{
    background-color: #f2a81d;
}

.slider{
    overflow: hidden;
    width: 80%;
    height: 560px;
    background-color: #2A567E;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}


.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}


.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}


.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}


.search-container{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-right: 50px;
  }
 
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    :focus{
      border: 1px solid #000000;
      transition: 0.35s ease;
      color: #000000;
      ::-webkit-input-placeholder{
        transition: opacity 0.45s ease;
          opacity: 0;
       }
      ::-moz-placeholder {
        transition: opacity 0.45s ease;
          opacity: 0;
       }
      :-ms-placeholder {
       transition: opacity 0.45s ease;
         opacity: 0;
       }    
     }
   }
 
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
 


  @media  screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
   }

   .grid-item{
    height: 150px;
   }

   .slider{
    width: 100%;
    height: 250px;
   }

   .mais_produtos{
    margin-left: 0;
   }

   .logo{
    float: left;
    margin-left: 0;
   }
   
  }
 
 
