*{
    margin: 0;
    padding: 0;
}

html{
    background-color: white;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.menu{
    width: 100%;
    height: 300px;
    background-color: #2A567E;
}

.login{
    display: flex;
    margin-top: 60px;
    color: #f2a81d;
}

.iniciar{
    margin-left: 45px;
}

.linha{
    width: 80%;
    margin-top: 20px;
    height: 1px;
    background-color: #2A567E;
}
  
  .formulario {
     
    max-width: 50%;
    margin-top: 50px;
    margin-left: 25px;
    float: left;
    background: white;
    overflow: hidden;
    padding: 20px;
  
  
  }
  
  :focus{outline: none;}
  
  .label { 
  
    float: left; 
    width: 100%; 
    margin-bottom: 25px; 
    position: relative;
  
  }
  
  .input-bordas{
    
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: #2A567E; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    border: 1px solid #2A567E; 
    padding: 7px 14px 9px; 
    transition: 0.4s;
  
  }
  
  .textarea { resize:none!important; }
  
  .input-bordas ~ .focus-border:before,
  .input-bordas ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #f2a81d; transition: 0.2s; transition-delay: 0.2s;}
  .input-bordas ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
  .input-bordas ~ .focus-border i:before,
  .input-bordas ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #f2a81d; transition: 0.2s;}
  .input-bordas ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
  .input-bordas:focus ~ .focus-border:before,
  .input-bordas:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
  .input-bordas:focus ~ .focus-border:after{transition-delay: 0.2s;}
  .input-bordas:focus ~ .focus-border i:before,
  .input-bordas:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
  .input-bordas:focus ~ .focus-border i:after{transition-delay: 0.4s;}
  
  
  .button-form { 
  
    background-color: #2A567E;
    width: 40%;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0.5em 1.3em;
    color: #f2a81d;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  }
  
  .borda-inversa {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background;
    transition-property: background;
    box-shadow: inset 0 0 0 2px #2A567E, 0 0 1px rgba(0, 0, 0, 0);
  
  }

  
  .borda-inversa:hover, .borda-inversa:focus, .borda-inversa:active {
    
    background: none;
    color:#f2a81d; 
  
  }
  
  /*Anti-span*/
  .naoexibir { display:none; }

  .footer{
    width: 100%;
    height: 300px;
    background-color: #2A567E;
  }