body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container{
    width: 80%;
    margin: 20px auto;
}

.product{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}
p{
    font-size: large;
}



.product img{
    max-width: 10%;
    margin-right: 0;
}

.cart{
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.total{
    margin-top: 5%;
    margin-left: 89%;
    font-weight: bold;
}

button{
    background-color: #2A567E;
    color: #fff;
    border: none;
    padding: 20px;
    margin-top: 5%;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

.botao2{
    background-color: #2A567E;
    color: #fff;
    border: none;
    padding: 20px;
    margin-top: 1%;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

.texto{
    margin-right: 64%;
}