<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar</title>
    <link href="../static/style-inicar.css" rel="stylesheet">
</head>
<body>
    <div class="menu"></div>

    <div class="login">
        <div class="iniciar"><h1>INICIAR</h1></div>
        <div class="linha"></div>
    </div>

    <form class="formulario" method="post" action="enviaDados.php">
        
        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="Nome" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>

        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="Senha" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>

        <label class="naoexibir">
            <span>Não preencher:</span><br>
            <input type="text" name="url" value=""></p>
        </label> 

        <button class="button-form borda-inversa">INICIAR SESSÃO</button>
    </form>  
    
    <div class="footer"></div>

</body>
</html>