<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link href="../static/style-carrinho.css" rel="stylesheet">
</head>
<body>
    <div class="container" action="/carrinho" method="get">
        <div class="cart">
            <h2>Seu Carrinho</h2>
            <div class="product">
                <img src="../static/imgs/acotar.jpg">
                <p class="texto">Corte de Névoa e Fúria</p>
                <span>R$ 20,00</span>
            </div>

            <div class="product">
                <img src="../static/imgs/oaneo.jpg">
                <p class="texto">O amor não é óbvio</p>
                <span>R$ 30,00</span>
            </div>

            <div class="total">
                <h4>Total: R$ 50,00</h4>
            </div>

            <button type="submit">Finalizar Compra</button>
            <button class="botao2" type="submit">Ver mais produtos</button>
        </div>
    </div>
</body>
</html>