<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="../static/style-cadastro.css" rel="stylesheet">
</head>
<body>
    <div class="menu"></div>

    <div class="cadastro">
        <div class="cadastre_se"><h1>CADASTRE-SE</h1></div>
        <div class="linha"></div>
    </div>

    <form class="formulario" method="post" action="enviaDados.php">
        
        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="Nome" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>

        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="CPF" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>

        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="E-mail" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>

        <label class="label">
            
            <input type="text" class="input-bordas" placeholder="Endereço" required="">
            <span class="focus-border"> <i></i> </span>
        
        </label>

        <label class="naoexibir">
            <span>Não preencher:</span><br>
            <input type="text" name="url" value=""></p>
        </label> 

        <button class="button-form borda-inversa">CADASTRE-SE</button>
    </form>  
    
    <div class="footer"></div>

</body>
</html>